<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/top.js"></script>
	</head>
	<body>
		
		<div class="side" id="top_div">
			<ul>
				<li id="top" class="topp"></li>
				<li class="code">
					<div class="xx" style="display: none;">
						<img src="../img/code11.png" alt="">
					</div>
				</li>
			</ul>
		</div>
				<div class="head"></div>
				<div class="container">
					<div class="sousuo">
						<input type="text" />
					</div>
				</div>
				<div class="nav">
					<div class="nav_logo"></div>
					<ul class="nav_n">
						<li><a href="gyrl.html"  >关于瑞灵</a></li>
						<li><a href="" class="active_nav">产品与服务</a></li>
						<li><a href="xwdt.html">新闻动态</a></li>
						<li><a href="tzz.html">投资者关系</a></li>
						<li><a href="yxwl.html">营销网络</a></li>
						<li><a href="lxwm.html">联系我们</a></li>
					</ul>
				</div>
		<hr />
		<div class="gy_content">
			<div class="gy_cont_top">
				<p>产品与服务</p>
				<div class="position">
					<span>您所在位置：</span>
					<a href="../index.html">首页</a>
					<a href="cpfw.html">产品与服务</a>
					<a href="cpfw.html">顶驱</a>
				</div>
			</div>
			<div class="banner" style="background:url(../img/cpban.jpg) center 90px no-repeat;">
				<i></i>
				<em>about us</em>
				</div>
		</div>
		<div class="column">
			<ul class="gy_xl">
				<li class="car">顶驱</li>
				<li>电控</li>
				<li class="zzjg">技术服务</li>
			</ul>
		</div>
		<div class="main" id="box_right">
			<div class="info_cp">
				<ul>
					<li>
						<div class="info_cp1_img">
							<img src="../img/pro4.jpg"/>
						</div>
						<div class="cp_name">TD40VS1顶驱</div>
					</li>
					<li>
						<div class="info_cp1_img">
							<img src="../img/pro3.jpg"/>
						</div>
						<div class="cp_name">TD50VS1顶驱</div>
					</li>
					<li class="info_cp_margin">
						<div class="info_cp1_img">
							<img src="../img/pro2.jpg"/>
						</div>
						<div class="cp_name">TD70VS1顶驱</div>
					</li>
					<li>
						<div class="info_cp1_img">
							<img src="../img/pro1.jpg"/>
						</div>
						<div class="cp_name">TD90VS1顶驱</div>
					</li>
				</ul>
				<div class="pages">
					<div id="pages" class="pages">
				   	     <a href="javascript:void(0)">上一页</a>  
				    	 <a href="javascript:void(0)" class="currentpage">1</a>
				    	 <a href="javascript:void(0)">下一页</a> 
				    </div>
				</div>
			</div>
			<div class="info_cp info_cp2">
				<ul>
					<li>
						<div class="info_cp1_img">
							<img src="../img/a1.jpg"/>
						</div>
						<div class="cp_name">钻机模拟型直流电传动控制系统</div>
					</li>
					<li>
						<div class="info_cp1_img">
							<img src="../img/a2.jpg"/>
						</div>
						<div class="cp_name">智能型一体化钻机模块电控系统</div>
					</li>
					<li class="info_cp_margin">
						<div class="info_cp1_img">
							<img src="../img/a3.jpg"/>
						</div>
						<div class="cp_name">钻机交流全变频驱动电控系统</div>
					</li>
					<li>
						<div class="info_cp1_img">
							<img src="../img/a4.png"/>
						</div>
						<div class="cp_name">钻机转盘独立驱动电控系统</div>
					</li>
					<li>
						<div class="info_cp1_img">
							<img src="../img/a5.jpg"/>
						</div>
						<div class="cp_name">钻机全数字直流电传动控制系统</div>
					</li>
				</ul>
				<div class="pages">
					<div id="pages" class="pages">
				   	     <a href="javascript:void(0)">上一页</a>  
				    	 <a href="javascript:void(0)" class="currentpage">1</a>
				    	 <a href="javascript:void(0)">下一页</a> 
				    </div>
				</div>
			</div>
			<div class="info_cp info_cp3">
				<img src="../img/abc.png"/>
				<br /><br />
				<p>优势明显更富人性化，更具实操性。公司自成立运营已近20年，从业经验丰富，在钻井领域内始终处于前列，深得用户信赖与认可；同时瑞灵的技术服务领域已涉足海外多个国家和地区，熟知各地服务现场情况，在拓展海外服务市场方面拥有丰富的经验。
公司拥有一支超过100人的优秀技术服务团队，平均在司年限3.2年，50%人员在司超过5年，人员稳定性强；团队成员技术全面且各有所长，可以满足不同客户的各类需求，实现提供顶驱系统与电控系统的同时维护维修。</p>
			</div>
		</div>
			
		</div>
		
		<!--footer-->
		<div class=" footer footer_gyrl">
					<div class="footer_cont">
						<div class="footer_cont_left">版权所有：天津瑞灵石油设备股份有限公司 津ICP备14000534号-1</div>
						<div class="footer_cont_right">
							<ul>
								<p style="color: #fff !important;">分享到：</p>
								<li class="fx1">
									<div class="yjfx">
										<div class="yjfx_top" >分享到</div>
										<ul class="ul_fx">
											<div class="fx_bj"><li class="yfx">一键分享</li></div>
											<div class="fx_bj"><li class="xlwb">新浪微博</li></div>
											<div class="fx_bj"><li class="wx">微信</li></div>
											<div class="fx_bj"><li class="txwb">腾讯微博</li></div>
											<div class="fx_bj"><li class="kxw">开心网</li></div>
											<div class="fx_bj"><li class="bdtb">百度贴吧</li></div>
											<div class="fx_bj"><li class="xsy">百度新首页</li></div>
											<div class="fx_bj"><li class="hxwb">和讯微博</li></div>
										</ul>
										<ul class="ul_fx">
											<div class="fx_bj"><li class="kj">QQ空间</li></div>
											<div class="fx_bj"><li class="bdsc">百度云收藏</li></div>
											<div class="fx_bj"><li class="rrw">人人网</li></div>
											<div class="fx_bj"><li class="bdxc">百度相册</li></div>
											<div class="fx_bj"><li class="txpy">腾讯朋友</li></div>
											<div class="fx_bj"><li class="dbw">豆瓣网</li></div>
											<div class="fx_bj"><li class="hy">QQ好友</li></div>
											<div class="fx_bj"><li class="bdzx">百度中心</li></div>
										</ul>
										<div class="yjfx_bottom">
											 <div class="yjfx_bottom_cont">更多...</div>
										</div>
									</div>
								</li>
								<li class="fx2"></li>
								<li class="fx3"></li>
								<li class="fx4"></li>
								<li class="fx5"></li>
								<li class="fx6"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</body>
	<script>
		$('.fx1').mousemove(function(){
					$('.yjfx').show()
				})
				$('.fx1').mouseout(function(){
					$('.yjfx').hide()
				})
				
		$(".gy_xl li").click(function() {
			$(".gy_xl li").eq($(this).index()).addClass("car").siblings().removeClass("car");
			$(".main .info_cp").hide().eq($(this).index()).show();
		})
		
	</script>
</html>
