<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/top.js"></script>
	</head>
	<body>
		
		<div class="side" id="top_div">
			<ul>
				<li id="top" class="topp"></li>
				<li class="code">
					<div class="xx" style="display: none;">
						<img src="../img/code11.png" alt="">
					</div>
				</li>
			</ul>
		</div>
		
				<div class="head"></div>
				<div class="container">
					<div class="sousuo">
						<input type="text" />
					</div>
				</div>
				<div class="nav">
					<div class="nav_logo"></div>
					<ul class="nav_n">
						<li><a href=""  class="active_nav">关于瑞灵</a></li>
						<li><a href="cpfw.html">产品与服务</a></li>
						<li><a href="xwdt.html">新闻动态</a></li>
						<li><a href="tzz.html">投资者关系</a></li>
						<li><a href="yxwl.html">营销网络</a></li>
						<li><a href="lxwm.html">联系我们</a></li>
					</ul>
				</div>
		<hr />
		<div class="gy_content">
			<div class="gy_cont_top">
				<p>关于瑞零</p>
				<div class="position">
					<span>您所在位置：</span>
					<a href="../index.html">首页</a>
					<a href="gyrl.html">关于瑞灵</a>
				</div>
			</div>
			<div class="banner" style="background:url(../img/aboutban.jpg) center 90px no-repeat;">
				<i></i>
				<em>about us</em>
				</div>
		</div>
		<div class="column">
			<ul id="leftul">
				<li class="car">公司简介</li>
				<li>领导致辞</li>
				<li>荣誉资质</li>
				<li class="zzjg">组织机构</li>
			</ul>
		</div>
		<div class="main" id="box_right">
			<div class="info right">
				<p>天津瑞灵石油设备股份有限公司是世界领先的陆地及海洋石油钻机顶部驱动装置及钻机电控系统的整体解决方案的提供者，是中国最大的石油钻机顶部驱动装置制造商之一，自2006年成立以来，自主研发、设计、制造了具有国际领先水平的交流变频顶部驱动装置系统。</p>
				<br  />		
				<p> 瑞灵石油设备公司创建于2006年，坐落于天津空港经济区，占地50余亩，拥有1万6千多平米的国际标准厂房，是一家专业从事石油天然气设备的研发、生产、销售和服务的高新技术企业。公司拥有一支经验丰富、高效的专业技术团队。</p>
				<br  />		
				<img src="../img/about.jpg"/>
				<br /><br />
				<p>瑞灵石油设备公司致力于先进的传动和控制技术的研发和应用及顶部驱动钻井装置等石油天然气钻采设备的专业开发，公司现拥有由高级工程师、工程师和高级技师等组成的人才梯队，能为客户量身定制、提供设计方案、技术支持及全方位的系统培训。瑞灵石油设备生产的顶驱系列产品主要有TD40VS1（250吨）、TD50VS1（350吨）、TD70VD1（500吨）及TD90VD1（750吨）四种型号，拥有16项中国技术专利并通过了ISO9001、ISO14001、OHSAS18001及美国API Q1认证，因其产品性能优越、质量可靠被广泛应用于中石化、中海油公司海洋钻井平台。</p>
				<br />
				<p> 瑞灵石油设备拥有先进的国际理念和强大的专业技术经验，致力于成为石油钻机顶驱及电控系统技术的创新者和领先者，愿为广大客户提供高质量的顶部驱动及电控系列产品，并为客户享受卓越的售后服务，满足国内外客户的需求。</p>
			</div>
			<div class="info2 right">
				<img src="../img/DSC_0610_51Y7dI.jpg"/>
				<br /><br />
				<p>瑞灵石油自成立以来,秉承“创新、质优、高效、专业”的企业精神，实行“质量为本，持续改进，满足顾客，行业领先”的质量方针，贯彻国家现阶段大力支持石油天然气高端装备制造产业的宏观政策，以打破油气高端装备产业链条的对外依赖性为己任，以实现经济效益与社会效益的双重提高为目标，全体员工勤勉敬业,拼搏进取,在促进石油天然气产业健康发展、推动技术革命方面做出了突出的贡献。经过近10年的技术研发和营运发展，瑞灵石油形成了研发、设计、生产、制造、销售以及技术服务与配件销售一体化的发展模式。</p>
				<br />
				<p>精雕细琢，我们脚踏实地；胸怀天下，我们志存高远。立足天津，辐射全国，放眼全球。面对未来，我们只有一个目标：通过自身的实力和对社会的贡献，用“诚信和品质”塑造中国石油天然气产业的卓越品牌，让瑞灵石油享誉国际！</p>
				<br />
				<p>我们深信：日臻成熟的瑞灵将会以更加稳健的步伐，以时不我待的紧迫感、舍我其谁的使命感引领石油天然气产业跨步前进。秉持诚信，开放理念,瑞灵石油愿与您携手共进，共创更加灿烂辉煌的明天。</p>
			</div>
			<div class="info3 right">
				<ul>
					<li>
						<div class="img">
							<img src="../img/0001.jpg">
						</div>
						<div class="name">API Q1认证</div>
					</li>
					<li>
						<div class="img">
							<img src="../img/ISO 900.jpg">
						</div>
						<div class="name">ISO 9001</div>
					</li>
					<li>
						<div class="img">
							<img src="../img/14001 001.jpg">
						</div>
						<div class="name">ISO 14001</div>
					</li>
					<li style="margin: 0;">
						<div class="img">
							<img src="../img/18001 001.jpg">
						</div>
						<div class="name">OHSAS 18001</div>
					</li>
					<li>
						<div class="img">
							<img src="../img/x2.jpg">
						</div>
						<div class="name">CCC认证</div>
					</li>
					<li>
						<div class="img">
							<img src="../img/x2.jpg">
						</div>
						<div class="name">CCC认证</div>
					</li>
					<li>
						<div class="img">
							<img src="../img/x2.jpg">
						</div>
						<div class="name">CCC认证</div>
					</li>
					<li style="margin: 0;">
						<div class="img">
							<img src="../img/x4.jpg">
						</div>
						<div class="name">先进基层党组织</div>
					</li>
				</ul>
				<div class="pages">
					<div id="pages" class="pages">
				   	     <a href="javascript:void(0)">上一页</a>  
				    	 <a href="javascript:void(0)" class="currentpage">1</a>
				    	 <a href="javascript:void(0)" class="normalpage">2</a>
				    	 <a href="javascript:void(0)">下一页</a> 
				    </div>
				</div>
			</div>
			<div class="info4 right">
				<img src="../img/gd.jpg"/>
			</div>
		</div>
		
		<!--footer-->
		<div class=" footer footer_gyrl">
					<div class="footer_cont">
						<div class="footer_cont_left">版权所有：天津瑞灵石油设备股份有限公司 津ICP备14000534号-1</div>
						<div class="footer_cont_right">
							<ul>
								<p style="color: #fff !important;">分享到：</p>
								<li class="fx1">
									<div class="yjfx">
										<div class="yjfx_top" >分享到</div>
										<ul class="ul_fx">
											<div class="fx_bj"><li class="yfx">一键分享</li></div>
											<div class="fx_bj"><li class="xlwb">新浪微博</li></div>
											<div class="fx_bj"><li class="wx">微信</li></div>
											<div class="fx_bj"><li class="txwb">腾讯微博</li></div>
											<div class="fx_bj"><li class="kxw">开心网</li></div>
											<div class="fx_bj"><li class="bdtb">百度贴吧</li></div>
											<div class="fx_bj"><li class="xsy">百度新首页</li></div>
											<div class="fx_bj"><li class="hxwb">和讯微博</li></div>
										</ul>
										<ul class="ul_fx">
											<div class="fx_bj"><li class="kj">QQ空间</li></div>
											<div class="fx_bj"><li class="bdsc">百度云收藏</li></div>
											<div class="fx_bj"><li class="rrw">人人网</li></div>
											<div class="fx_bj"><li class="bdxc">百度相册</li></div>
											<div class="fx_bj"><li class="txpy">腾讯朋友</li></div>
											<div class="fx_bj"><li class="dbw">豆瓣网</li></div>
											<div class="fx_bj"><li class="hy">QQ好友</li></div>
											<div class="fx_bj"><li class="bdzx">百度中心</li></div>
										</ul>
										<div class="yjfx_bottom">
											 <div class="yjfx_bottom_cont">更多...</div>
										</div>
									</div>
								</li>
								<li class="fx2"></li>
								<li class="fx3"></li>
								<li class="fx4"></li>
								<li class="fx5"></li>
								<li class="fx6"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
