<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/top.js"></script>
	</head>

	<body>
		<div class="side" id="top_div">
			<ul>
				<li id="top" class="topp"></li>
				<li class="code">
					<div class="xx" style="display: none;">
						<img src="../img/code11.png" alt="">
					</div>
				</li>
			</ul>
		</div>
		
		<div class="head"></div>
		<div class="container">
			<div class="sousuo">
				<input type="text" />
			</div>
		</div>
		<div class="nav">
			<div class="nav_logo"></div>
			<ul class="nav_n">
				<li>
					<a href="gyrl.html">关于瑞灵</a>
				</li>
				<li>
					<a href="cpfw.html">产品与服务</a>
				</li>
				<li>
					<a href="xwdt.html" >新闻动态</a>
				</li>
				<li>
					<a href="tzz.html" >投资者关系</a>
				</li>
				<li>
					<a href="yxwl.html" >营销网络</a>
				</li>
				<li>
					<a href="" class="active_nav">联系我们</a>
				</li>
			</ul>
		</div>
		<hr />
		<div class="gy_content">
			<div class="gy_cont_top">
				<p>联系我们</p>
				<div class="position">
					<span>您所在位置：</span>
					<a href="../index.html">首页</a>
					<a href="lxwm.html">联系我们</a>
				</div>
			</div>		
		</div>
		
		<!--地图-->
		
		<!--地图结束-->
		<div class="lxwm_info">
			<div class="tz_info3">
				<ul class="zcc_infoul">
					<li>公司名称： 天津瑞灵石油设备股份有限公司</li>
					<li>电  话： 022-60978588(集团总机) 022-60978590(顶驱部销售直线) 022-60978589</li>
					<li>（营销事业部销售直线）</li>
					<li>传  真： 022-60978585</li>
					<li>E - mail ： business@rilingpec.com</li>
					<li>公司地址： 天津空港经济区航空路268号</li>
					<li>邮  编： 300308</li>
				</ul>
			</div>
			<form name="rlsy_Form_us" method="post" action="http://www.rilingpec.com/form/form/submitform/LAP7JW" class="form_us">
<input type="hidden" value="LAP7JW" name="formid">
          <input type="text" class="text" name="name" placeholder="您的名字*" value="您的名字*" onfocus="if (value =='您的名字*'){value =''}" onblur="if (value ==''){value='您的名字*'}">
          <input type="text" class="text" name="phone" placeholder="您的电话*" value="您的电话*" onfocus="if (value =='您的电话*'){value =''}" onblur="if (value ==''){value='您的电话*'}">
          <input type="text" class="text" name="mail" placeholder="您的邮箱*" value="您的邮箱*" onfocus="if (value =='您的邮箱*'){value =''}" onblur="if (value ==''){value='您的邮箱*'}">
          <input type="text" class="text" name="company" placeholder="公司名称*" value="公司名称*" onfocus="if (value =='公司名称*'){value =''}" onblur="if (value ==''){value='公司名称*'}">
		  <textarea class="text" name="info" placeholder="您的详细内容*" value="您的详细内容*" onfocus="if (value =='您的详细内容*'){value =''}" onblur="if (value ==''){value='您的详细内容*'}"></textarea>
          <input class="submit" type="submit" placeholder=" " value="提交">
      </form>
		</div>
		

		<!--footer-->
		<div class=" footer footer_gyrl">
			<div class="footer_cont">
				<div class="footer_cont_left">版权所有：天津瑞灵石油设备股份有限公司 津ICP备14000534号-1</div>
				<div class="footer_cont_right">
					<ul>
						<p style="color: #fff !important;">分享到：</p>
						<li class="fx1">
							<div class="yjfx">
								<div class="yjfx_top">分享到</div>
								<ul class="ul_fx">
									<div class="fx_bj">
										<li class="yfx">一键分享</li>
									</div>
									<div class="fx_bj">
										<li class="xlwb">新浪微博</li>
									</div>
									<div class="fx_bj">
										<li class="wx">微信</li>
									</div>
									<div class="fx_bj">
										<li class="txwb">腾讯微博</li>
									</div>
									<div class="fx_bj">
										<li class="kxw">开心网</li>
									</div>
									<div class="fx_bj">
										<li class="bdtb">百度贴吧</li>
									</div>
									<div class="fx_bj">
										<li class="xsy">百度新首页</li>
									</div>
									<div class="fx_bj">
										<li class="hxwb">和讯微博</li>
									</div>
								</ul>
								<ul class="ul_fx">
									<div class="fx_bj">
										<li class="kj">QQ空间</li>
									</div>
									<div class="fx_bj">
										<li class="bdsc">百度云收藏</li>
									</div>
									<div class="fx_bj">
										<li class="rrw">人人网</li>
									</div>
									<div class="fx_bj">
										<li class="bdxc">百度相册</li>
									</div>
									<div class="fx_bj">
										<li class="txpy">腾讯朋友</li>
									</div>
									<div class="fx_bj">
										<li class="dbw">豆瓣网</li>
									</div>
									<div class="fx_bj">
										<li class="hy">QQ好友</li>
									</div>
									<div class="fx_bj">
										<li class="bdzx">百度中心</li>
									</div>
								</ul>
								<div class="yjfx_bottom">
									<div class="yjfx_bottom_cont">更多...</div>
								</div>
							</div>
						</li>
						<li class="fx2"></li>
						<li class="fx3"></li>
						<li class="fx4"></li>
						<li class="fx5"></li>
						<li class="fx6"></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script>
		$('.fx1').mousemove(function() {
			$('.yjfx').show()
		})
		$('.fx1').mouseout(function() {
			$('.yjfx').hide()
		})

		$("#leftul li").click(function() {
			$("#leftul li").eq($(this).index()).addClass("car").siblings().removeClass("car");
			$("#box_right .right").hide().eq($(this).index()).show();
		})
	</script>

</html>